{% extends "base.html" %} 

{% block title %}Bienvenido{% endblock  %}

{% block content %}
<center><h1>Bienvenido a CARE</h1></center>


<section>
    <div class="columleft">
        <div class="row">
            <div class="col-md-4">
                <p>En el transcurso de la historia, la gestión de consultorios médicos ha enfrentado persistentes desafíos</p>
                <p>generando ineficiencias que afectan tanto a profesionales de la salud como a pacientes.  </p>
                <p>Este problema arraigado ha provocado una disminución en la eficacia de los servicios </p>
                <p>médicos y ha contribuido a la insatisfacción general  en el sistema de atención médica.  </p>
                <p>La falta de un sistema eficiente para la programación de citas ha conducido a largos</p>
                <p> tiempos de espera y confusiones, deteriorando la experiencia de atención médica.</p>
                <p> CARE es una app movil de gestión automatizado que no solo mejoraría la eficiencia en la programación de </p>
                <p>citas medicas sino que también se orientaría a reducir significativamente los tiempos de espera.</p>
                <p>Este enfoque innovador representa un avance significativo para mejorar el sistema de salud mexicano.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                
            </div>
            <div class="col-md-8">
                <div class="logo">
                    {% load static %}
                   <img src="/static/images/logo CARE MA.png" width="300px" height="300px">

                </div>

            </div>

        </div>

    </div>
</section>

{% endblock  %}